<form method="post" action="{{ path('formation_delete', {'id': formation.id}) }}" onsubmit="return confirm('Êtes vous certain.e de vouloir effacer cette formation ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ formation.id) }}">
<button type="submit" class="btn btn-danger">{{ button_label|default('Effacer') }}</button>

</form>
