{% extends 'base.html.twig' %}
{% block title %}UserController
{% endblock %}
{% block body %}
	<h4>Hello !</h4>


	<ul>
		{% if is_granted('ROLE_FORMATEUR') %}
			
				{{ user.id }}
					{{ user.prenom }}
					{{ user.nom }}
			
		
		{% endif %}

	</ul>
{% endblock %}
